<!DOCTYPE html>
<html>
<head>
    <title>Add Your Food</title>
</head>
<body>
    <h1>Add Food</h1>
    <form method="post">
        <label for="food_name">Food Name:</label>
        <input type="text" id="food_name" name="food_name"><br><br>
        <label for="portion">Portion (grams):</label>
        <input type="text" id="portion" name="portion"><br><br>
        <label for="protein">Protein (per 100g):</label>
        <input type="text" id="protein" name="protein"><br><br>
        <label for="carbs">Carbs (per 100g):</label>
        <input type="text" id="carbs" name="carbs"><br><br>
        <label for="fat">Fat (per 100g):</label>
        <input type="text" id="fat" name="fat"><br><br>
        <label for="package_size">Package Size (g):</label>
        <input type="text" id="package_size" name="package_size"><br><br>
        <label for="price">Price:</label>
        <input type="text" id="price" name="price"><br><br>
        <input type="submit" value="Add Food">
    </form>
    <h3>Total Protein: </h3>
    <p>{{ sum_protein }}</p>
</body>
</html>

